.login-container{
    width: 100%;
    height: 40rem;
    border-color: black;
    color: white;
    /* display:grid;
    grid-template-columns: 1fr; */
    background-color:rgb(49, 81, 110);
    align-items: center;
    align-content: center;
    text-align: center;
}
.form{
    width: 30rem;
    height: 12rem;
    background-color: rgb(68, 68, 107);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    margin: auto;
    box-shadow: 1px -1px 1px 1px black;
}
.form-group{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    color: white;
    width: auto;
    align-items: center;
    align-content: center;
}
.a{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    /* text-decoration: none; */
    width: 10rem;
    /* margin: auto; */
    
}